<html>
<head>
    <title>Image Classification App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h2 {
            color: #4CAF50;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #2196F3;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>AdinkraNet</h1>
    <h2>this adinkra symbol is</h2>
    <h2> <a href="https://www.google.com/search?q={{class_name}}">{{ class_name }}</a></h2>
    <br>
    <a href="/">Go back</a>
</body>
</html>